.row{
  height: 50vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.hospital__list__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 83vw;
  max-height: 45vh;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 100;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  position: relative;
}

.pagination__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 83vw;
  background-color: white;
}

.pagination__buttons > span {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

.pagination__buttons > button {
  border: none;
  background-color: transparent;
}

@media all and (max-width: 650px) and (min-width: 100px){
  .hospital__list__container {
    width: 100vw;
  }
}
