.hospital__search {
  background-image: url("../../assets/icons/ambulanceBackground.jpg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom center;
  height: 30vh;
  width: 80vw;
  padding: 2vh 1.5vw;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  -webkit-box-shadow: 0px 0px 22px 2px rgba(32, 255, 110, 0.773);
  -moz-box-shadow: 0px 0px 22px 2px rgba(32, 255, 110, 0.773);
  box-shadow: 0px 0px 22px 2px rgba(32, 255, 110, 0.773);
}

.search__form {
  margin: 1vh 5vw;
  width: 80vw;
  display: flex;
  align-items: center;
}

.search__bar {
  position: relative;
  display: flex;
  border: 2px solid #ccc;
  border-radius: 1rem;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 2.5vw;
}

.search__bar > img {
  height: 7vh;
  width: 5vh;
  border-radius: 0.8rem 0 0 0.8rem;
  padding-left: 2vw;
  background-color: white;
}

.search__bar > input {
  width: 68vw;
  padding: 2vh 1vw;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  border-radius: 0 0.9rem 0.9rem 0;
  background-color: white;
  color: black;
}

.search__bar > input:focus {
  outline: none;
  box-shadow: none;
}

.hospital__search__footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 3vw;
  width: 100%;
}

.select__area__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 0.5vh 0.5vw;
  margin: 0.5vh 0.5vw;
  width: 65vw;
}

.selected__area__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 65vw;
}

.select__area__container > select {
  height: 5vh;
  width: 15vw;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
}

.select__area__container > select > option {
  background-color: white;
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

.selected__area {
  font-size: smaller;
  width: 10vw;
  height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  color: white;
  background-color: transparent;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 0.5vh 0.5vw;
  margin: 0.5vh 0.5vw;
}

.remove__area {
  height: 4vh;
  width: 4vh;
  font-size: large;
  cursor: pointer;
  color: black;
  background-color: white;
  border: none;
  margin-left: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear__skills {
  background-color: transparent;
  border: 2px solid white;
}

.search__range__container {
  color: white;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset__range {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  font-weight: 600;
  margin-top: 1vh;
  cursor: pointer;
}

.location__error {
  width: 5vw;
  color: red;
}
