.hospital__search {
  background-image: url("../../assets/icons/ambulance.gif");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: bottom center;
  height: 30vh;
  width: 80vw;
  margin: 5vh auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  -webkit-box-shadow: 0px 0px 22px 2px rgba(32, 255, 110, 0.773);
  -moz-box-shadow: 0px 0px 22px 2px rgba(32, 255, 110, 0.773);
  box-shadow: 0px 0px 22px 2px rgba(32, 255, 110, 0.773);
}

.search__form {
  margin: 1vh 5vw;
  width: 80vw;
  display: flex;
  align-items: center;
}

.search__bar {
  position: relative;
  display: flex;
  border: 2px solid #ccc;
  border-radius: 2vh;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 2.5vw;
}

.search__bar > img {
  height: 5vh;
  width: 5vh;
  padding-left: 2vw;
}

.search__bar > input {
  width: 68vw;
  padding: 2vh 1vw;
  font-size: 1.2rem;
  font-weight: 700;
  border: none;
  background-color: white;
  color: black;
}

.search__bar > input:focus {
  outline: none;
  box-shadow: none;
}

.hospital__search__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vw;
  width: 100%;
}

.select__area__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 0.5vh 0.5vw;
  margin: 0.5vh 0.5vw;
  width: 65vw;
}

.selected__area__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 65vw;
}

.select__area__container > select {
  height: 5vh;
  width: 15vw;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.selected__area {
  font-size: smaller;
  width: 10vw;
  height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(249, 62, 62);
  border-radius: 5px;
  padding: 0.5vh 0.5vw;
  margin: 0.5vh 0.5vw;

}

.remove__area {
  height: 4vh;
  width: 4vh;
  font-size: large;
  cursor: pointer;
  color: white;
  background-color: #f11d2e;
  border: none;
  margin-left: 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select__area > button {
  background-color: transparent;
  color: #ff6b6b;
  font-size: 2vw;
  cursor: pointer;
  align-self: flex-end;
  border: none;
  margin-bottom: 0.7vh;
}
